/* You can add global styles to this file, and also import other style files */

@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.cursor-pointer{
    cursor: pointer;
}


.full-screen-dialog {
    min-width: 100vw;
    width: 100vw;
    z-index: 2147483647;
    box-sizing: border-box;
    overflow:scroll;
    padding: 2px !important;
  }
  
  // Add full-screen-dialog as a panel class for dialog open config check vouchers-main.component.ts
  .short-screen-dialog {
    // width: 500px;
    min-width: 700px;
  
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .view-cart-screen-dialog {
    max-height: 75vh;
    max-width: 70vw;
    height: 70vh;
    width: 70vw;
    padding-top: 9px !important;
  }