
<div>
    <div>
        <div class="row" class="bg-light pt-xl-2 pt-lg-2 mt-5">
            <div class="col-xl-7 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center align-items-center">
                <i><h3 class="">Build your own Forms for your Business!</h3></i>
            </div>
        </div>
        <div *ngIf="disbool">
            <div class="row bg-light mt-2 pt-2">
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center align-items-center">
                    <h4 class="text-success">Lo<i>g</i>i<i>n</i></h4> 
                </div>
            </div>
            <div class="row bg-light pb-2">
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center align-items-center">
                    <form [formGroup]="LoginForm">
                    <mat-form-field appearance="outline">
                        <input matInput  formControlName="Email" placeholder="Email" required>
                    </mat-form-field>
                    <br/>
                    <mat-form-field appearance="outline">
                        <input type="Password" matInput formControlName="Password" placeholder="Password" required>
                        
                    </mat-form-field>
                    <br/>
                        <button type="button" class="btn btn-outline-secondary" (click)="LoginClick()">Login</button>
                        <p class="mt-2 text-primary cursor-pointer"><span (click)="disbool=false">SignUp</span> / <span>Forgot Password?</span></p>
                    </form>
                </div>
            </div>
        </div>
        <div *ngIf="!disbool">
            <form [formGroup]="SignUpForm">
            <div class="row bg-light mt-2 pt-2">
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center align-items-center">
                    <h4 class="text-success">Det<i>ails</i> to Sign U<i>p</i></h4> 
                </div>
            </div>
            <div class="row bg-light pb-2">
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center align-items-center">
                    <mat-form-field appearance="outline" class="mx-2">
                        <input matInput formControlName="FirstName" placeholder="First Name" required>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <input matInput formControlName="LastName" placeholder="Last name" required>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center align-items-center">
                        
                        <mat-form-field appearance="outline" class="mx-2">
                            <input matInput formControlName="Email" placeholder="Email Id" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="Mobile" placeholder="Mobile Number" required>
                        </mat-form-field><br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center align-items-center">
                        <mat-form-field appearance="outline" class="mx-2">
                            <input matInput formControlName="Password" placeholder="Password" required>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="ConfirmPassword" placeholder="Confirm Password" required>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center align-items-center">
                        <mat-form-field appearance="outline" class="mx-2">
                            <mat-select formControlName="UsageType" [(value)]="selectedIssue" placeholder="Usage Type" required>
                            <mat-option *ngFor="let type of UseAgeType" [value]="type.viewValue">
                                {{type.viewValue}}
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row" *ngIf="selectedIssue == 'Business'">
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center align-items-center">
                        <mat-form-field appearance="outline">
                            <input matInput formControlName="BusinessName" placeholder="Bussiness Name" required>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center align-items-center">
                        <button type="button" class="btn btn-outline-secondary" (click)="SignUpClick()">SignUp</button>
                        <p class="mt-2 text-primary cursor-pointer"><span (click)="disbool=true">Have an account? Login</span> / <span>Forgot Password?</span></p>
                    </div> 
                </div>
            </div>  
        </form>
        </div>
    </div>
</div> 
 