
<div>
    <div>
        <div class="row" class="bg-light mt-xl-5 mt-lg-5 mt-md-2 mt-sm-2 mt-2">
            <div class="col-xl-7 col-lg-8 col-md-8 col-sm-12 col-xs-12 text-center align-items-center">
                <i><h3 class="">Build your own Forms for your Business!</h3></i>
            </div>
        </div>
        <div *ngIf="disbool">
            <div class="row bg-light mt-2 pt-2">
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center align-items-center">
                    <h4 class="text-success">Lo<i>g</i>i<i>n</i></h4> 
                </div>
            </div>
            <div class="row bg-light pb-2">
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center align-items-center">
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Email" required>
                    </mat-form-field>
                    <br/>
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Password" required>
                        
                    </mat-form-field>
                    <br/>
                        <button type="button" class="btn btn-outline-secondary">Login</button>
                        <p class="mt-2 text-primary cursor-pointer"><span (click)="disbool=false">SignUp</span> / <span>Forgot Password?</span></p>
                    
                </div>
            </div>
        </div>
        <div *ngIf="!disbool">
            <div class="row bg-light mt-2 pt-2">
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center align-items-center">
                    <h4 class="text-success">Det<i>ails</i> to Sign U<i>p</i></h4> 
                </div>
            </div>
            <div class="row bg-light pb-2">
                <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center align-items-center">
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="First Name" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Last name" required>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center align-items-center">
                        
                        <mat-form-field appearance="fill">
                            <input matInput placeholder="Email Id" required>
                        </mat-form-field><br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center align-items-center">
                        <mat-form-field appearance="fill">
                            <input matInput placeholder="Password" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <input matInput placeholder="Confirm Password" required>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center align-items-center">
                        <mat-form-field appearance="fill">
                            <mat-select [(value)]="selectedIssue" placeholder="Usage Type" required>
                            <mat-option *ngFor="let food of foods" [value]="food.value">
                                {{food.viewValue}}
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row" *ngIf="selectedIssue == '1'">
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center align-items-center">
                        <mat-form-field appearance="fill">
                            <input matInput placeholder="Bussiness Name" required>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center align-items-center">
                        <button type="button" class="btn btn-outline-secondary">SignUp</button>
                        <p class="mt-2 text-primary cursor-pointer"><span (click)="disbool=true">Have an account? Login</span> / <span>Forgot Password?</span></p>
                    </div> 
                </div>
            </div>  
        </div>
    </div>
</div> 
 