<!-- <mat-spinner [diameter]="100" *ngIf="_loaderService.visibility | async">
</mat-spinner> -->

<div class="wrapper" *ngIf="_loaderService.visibility |async">
  <div class="overlay d-flex justify-content-center align-items-center">
    <!-- <mat-spinner class="" [diameter]="35">
    </mat-spinner> -->
    <div class="spinner-wrapper">
      <mat-spinner [diameter]="40" color="warn">
      </mat-spinner>
    </div>
  </div>

  <div class="loaded-content" [class.blurred]="_loaderService.visibility|async">
    <ng-content></ng-content>
  </div>
</div>
<!-- <header *ngIf="(_loaderService.visibility|async) == false"> -->
  <header >
    <!-- Navbar -->
    <nav  class="navbar navbar-expand-lg my-0 navbar-light bg-white fixed-top">
      <div  class="container-fluid">
        <div class="d-block d-lg-none">
            <div class="row">
                <div class="col-2">
                    <mat-icon>home</mat-icon>
                </div>
                <div class="col-2">
                    <mat-icon>widgets</mat-icon>
                </div>
                <div class="col-2">
                    <mat-icon>monetization_on</mat-icon>
                </div>
                <div class="col-2">
                    <mat-icon>not_listed_location</mat-icon>
                </div>
                <div class="col-2">
                    <span [routerLink]="['/SignUpIn',false]">SignIn/</span>
                </div>
                <div class="col-2">
                    <span [routerLink]="['/SignUpIn',true]">Login</span>
                </div>
            </div>
        </div>
        <div class="d-none d-lg-block"
          
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link text-center" aria-current="page" [routerLink]="['/HomePage']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/SignUpIn',false]">SignUp</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" [routerLink]="['/SignUpIn',true]">LogIn</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>

    <!-- Navbar -->
  
    <!-- Jumbotron -->
    <!-- <div class="p-5 text-center bg-light" style="margin-top: 58px;">
      <h1 class="mb-3">Working On It</h1>
      <h4 class="mb-3">Business Forms</h4>
      <button class="btn btn-primary" [routerLink]="['/SignUpIn',false]" role="button">SignUp</button>
      <button class="btn btn-secondary" [routerLink]="['/SignUpIn',true]" role="button">LogIn</button>
    </div> -->


<router-outlet></router-outlet>